
{% extends "base.html" %}

{% set nav_active = 'friends' %}
{% set authenticated = True %}

{% block head %}
{{ super() }}
{% endblock %}

{% block btitle %}
Friends
{% endblock %}

{% block bstyles %}
<style>
    .panel-body .img-responsive {
    	margin: 0 auto;
    }
    .h4 {
    	margin: 2pt;
    	padding: 2pt;
    }
</style>
{% endblock %}

{% block page_content %}

<div class="col-md-7">
	<div class="page-header">
		<h2>FriendGroups</h2>
	</div>
	<div class="well">
		<h4>
			Create a FriendGroup
		</h4>
		<form class="form" style="padding-bottom:0pt;" action="/groupadd" method="POST">
			<div class="form-group">
				<input type="text" class="form-control" name="group_name" placeholder="Group name"/>
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="3"
				name="description" placeholder="Description"></textarea>
			</div>
			<button class="btn btn-default btn-block">
				Submit
			</button>
		</form>
	</div>
	{% with error = get_flashed_messages() %}
    	{% for e in error %}
    	<div class="alert alert-danger fade in">
        	<a href='#' class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error:</strong> {{e}}
    	</div>
    	{% endfor %}
    	{% endwith %}
	{% if groups %}
	<div class="well">
		<h4>Add a member</h4>
		<form class="form" action="/memberadd" method="POST">
			<div class="form-group">
				<select class="form-control" name="group_name">
					{% for group in groups %}
					<option>{{group.group_name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
                <div class="row">
                    <div class="col-sm-6">                    
                        <input class="form-control" style="font-size:16pt" type="text" name="fname" placeholder="First Name" required/>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="lname" style="font-size:16pt" type="text" name="lname" placeholder="Last Name" required/>
                    </div>
                </div>
            </div>
            <button class="btn btn-default btn-block">
            	<span class="glyphicon glyphicon-plus"></span>
            	Add Member
            </button>
		</form>
	</div>
	{% with error = get_flashed_messages() %}
    	{% for e in error %}
    	<div class="alert alert-danger fade in">
       		<a href='#' class="close" data-dismiss="alert" aria-label="close">&times;</a>
        	<strong>Error:</strong> {{e}}
    	</div>
    	{% endfor %}
    	{% endwith %}
	{% for group in groups %}
		<div class="panel panel-default">
			<div class="panel-heading">
				{{group.group_name}}
			</div>
			<div class="panel-body">
				{% if group.members %}
				<ul>
				{% for m in group.members %}
					<li>{{m.first_name}} {{m.last_name}}</li>
				{% endfor %}
				</ul>
				{% else %}
				No members.
				{% endif %}
			</div>
		</div>
	{% endfor %}
	{% endif %}
</div>

{% if tags %}
<div class="col-md-5">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 style="margin: 3pt;">Pending Tags</h2>
		</div>
		<div class="panel-body">
			{% for t in tags %}
				<div>
					{% if loop.index != 1 %}
					<hr>
					{% endif %}
					<div class="pull-right">
						<small>
							{{t.timest|time_ago}}
						</small>
					</div>
					<span class="text-info">
						{{t.first_name}} {{t.last_name}}
					</span>
					has tagged you in
					<a href="/home#{{t.id}}">
						{{t.content_name}}
					</a>
					</span>
					<br />
					<a href="/tagaccept?id={{t.id}}&tagger={{t.username_tagger}}&taggee={{t.username_taggee}}">accept</a>
					&middot;
					<a href="/tagdecline?id={{t.id}}&tagger={{t.username_tagger}}&taggee={{t.username_taggee}}">decline</a>
				</div>
			{% endfor %}
		</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}


