{% extends "base.html" %} {% set nav_active = "index" %} {% set authenticated = True %} {% block title %}Home{% endblock %} {% block page_content %}
<style>
    form {
        padding-top: 20px;
        padding-bottom: 30px;
    }
</style>

<div class="container">
    <h1>Welcome {{info.fname}}</h1>
    <form action="/post" method="POST" enctype="multipart/form-data">
        <input type="text" name="blog" placeholder="Caption" required/> </br>
        <input type="file" name="file" accept="image/*">
        <input type="text" value="{{info.fname}}" hidden="true" />
        <button type="submit" class="btn btn-primary" />Post</button>
    </form>

    <table class="table">
        <th>Time</th>
        <th>Post</th>

        {% for line in posts %}
        <tr>
            <td>{{line.date}}</td>
            <td>{{line.name}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}