
{% extends "base.html" %}

{% set nav_active = 'home' %}
{% set authenticated = True %}

{% block head %}
{{ super() }}
{% endblock %}

{% block btitle %}
Home
{% endblock %}

{% block bstyles %}
<style>
    form {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .panel-body .img-responsive {
    	margin: 0 auto;
    }
</style>
{% endblock %}

{% block page_content %}

<div class="panel panel-default">
	<div class="panel-heading">
		Post a Photo
	</div>

	<div class="panel-body">
		<form class="form-inline" action="/post" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<div class='input-group'>
					<label class="input-group-btn">
						<span class="btn btn-primary">
							Browse&hellip;
							<input type="file" name="file" accept="image/*" style="display: none;">
						</span>
					</label>
				<input type="text" class="form-control" readonly>
		    </div>
			<div class="form-group">
		    	<input class="form-control" type="text" name="name" placeholder="Caption" required/>
		    </div>
		    <div class="checkbox">
		    	<label><input type="checkbox" name="public" value="public"/>Public</label>
		   	</div>
		    <div class="form-group">
		    	<button type="submit" class="btn btn-primary" />
		    		<span class="glyphicon glyphicon-edit"></span>
		    		Post
		    	</button>
		    </div>
		</form>
	</div>
</div>
</div>

{% if posts %}
{% for line in posts %}
<div class="panel panel-default">
<div class="panel-heading">
	<span class="text-primary">{{line.first_name}} {{line.last_name}}</span>
	<span class="text-muted">&#9658;</span>
	{{line.content_name}}
	<div class="pull-right">
		<small>{{line.timest|time_ago}}</small>
	</div>
</div>
<div class="panel-body">
	<img src="/content/{{line.file_path}}" class="img-responsive img-rounded">
</div>
<div class="panel-footer">
	{% for c in line.comments %}
		<span class="text-info">{{c.username}}</span>
		{{c.comment_text}}
		<div class="pull-right">
			<small>{{c.timest|time_ago}}</small>
		<br />
	{% endfor %}
	<form class="form-inline" action="/comment" method="POST">
	</form>
</div>
</div>
{% endfor %}
{% endif %}

{% endblock %}

{% block bscripts %}
<script>
$(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          }
      });
});
</script>
{% endblock %}

