<html>
    <head>
        <title>PriCoSha</title>
    </head>
    <body style="background-color: #ffe695";>
        <div>PriCoSha: <a href="/index">Home</a> <a href="/login">Login</a> <a href="/Register">Register</a> <a href="/about">About</a></div></div>
        <hr>
        <h1> PriCoSha </h1>
        <h2>The Newest Technology in Private Sharing!</h2>
{% block content %}
<form action="/registerAuth" method="POST">
    <input style="font-size:16pt;height:35px;width:200px;" type="text" name = "username" placeholder="username" required/> </br>
    <input style="font-size:16pt;height:35px;width:200px;" type="password" name = "password" placeholder="password" required/></br>
    <input style="font-size:16pt;height:35px;width:110px;"type="submit" value = Register />
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>

<a href="/">Go back</a>
</body>
</html>
{% endblock %}